<div
  class="sm:h-screen w-screen h-16 sm:w-20 bg-gradient-to-tr to-yellow-500 from-orange-500 rounded-sm sticky"
>
  <div class="text-sm font-bold text-white">
    <ul class="flex flex-row  sm:flex-col justify-center gap-6  m-0 sm:justify-center items-center sm:p-4 sm:gap-8">

      <li><a routerLink="/account"><img src="https://img.icons8.com/?size=100&id=7819&format=png&color=ffffff" class="h-10 sm:h-12 w-fit">Account</a></li>
      <li><a routerLink="/students"><img src="https://img.icons8.com/?size=100&id=11225&format=png&color=ffffff" class="h-10 sm:h-12 w-fit">students</a></li>
      <li><a routerLink="/admins"><img src="https://img.icons8.com/?size=100&id=52234&format=png&color=ffffff" class="h-10 sm:h-12 w-fit">Admins</a></li>


    </ul>
  </div>
</div>
